{% extends 'base.html' %}

{% block title %} Job Portal
{% endblock title %}

{% block homeActive %}
active
{% endblock homeActive %}

{% block body %}




<div class="container mt-5">
    
    {% for i in all_jobs %}
        <div class="card mt-3">
            <div class="card-header">
                {{ i.company_name }}
            </div>
            <div class="card-body">
                <h5 class="card-title"> {{ i.title }} </h5>
                <p class="card-text"> {{ i.job_description }} </p>
                <a href="#" class="btn btn-success"> Apply </a>
            </div>
        </div>
        
        {% endfor %}

</div>


{% endblock body %}